<a href="https://colab.research.google.com/github/warnercamacho/test_colab/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [138]:
import pandas as pd

In [139]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

In [140]:
dataframe = pd.Series(stocks)

In [141]:
print(dataframe)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [142]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
list_verson = quotations.tolist()
print(list_verson)

[387.0, 339.5, 349.5, 391.0]

In [143]:
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [144]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
df = quotations.to_frame("price")
print(df)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

In [145]:
import numpy as np

In [146]:
dataframe = pd.DataFrame(np.array([[101, 102, 103, 104, 105, 106, 107, 108, 109], [10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0, 80.0, 90.0]])).reset_index(drop=True).T
print(dataframe)

       0     1
0  101.0  10.0
1  102.0  20.0
2  103.0  30.0
3  104.0  40.0
4  105.0  50.0
5  106.0  60.0
6  107.0  70.0
7  108.0  80.0
8  109.0  90.0

In [147]:
data = np.arange(10, 100, 10)
print(data)

[10 20 30 40 50 60 70 80 90]

In [148]:
index = np.arange(101, 110)
print(index)

[101 102 103 104 105 106 107 108 109]

In [149]:
 s = pd.Series(data=data, index=index, dtype="float")
print(s)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

In [150]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
print(series)

a    001
b    002
c    003
d    004
dtype: object

In [151]:
series = pd.to_numeric(series)
print(series)

a    1
b    2
c    3
d    4
dtype: int64

In [152]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [153]:
stocks = {
    'PLW': 387.00,
    'CDR': 339.5,
    'TEN': 349.5,
    '11B': 391.0,
    'BBT': 25.5,
    'F51': 19.2
}
quotations = pd.Series(data=stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

In [154]:
quotations = pd.DataFrame(quotations).reset_index()

print(quotations)

  index      0
0   PLW  387.0
1   CDR  339.5
2   TEN  349.5
3   11B  391.0
4   BBT   25.5
5   F51   19.2

In [155]:
quotations.columns = ['ticker', 'price']
print(quotations)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

In [156]:
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.0, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}
dataframe = pd.DataFrame(data_dict)
print(dataframe)

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

In [157]:
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}

companies = pd.DataFrame(data=data_dict)

print(companies)

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

In [158]:
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}

companies = pd.DataFrame(data=data_dict).set_index('company')

print(companies)

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US

In [159]:
data_range = pd.date_range(start='2020-01-01', periods=31)
print(data_range)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')

In [160]:
data_range = pd.date_range(
    start='2020-01-01',
    end='2020-12-31',
    freq='W-MON'
)
print(data_range)

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27',
               '2020-02-03', '2020-02-10', '2020-02-17', '2020-02-24',
               '2020-03-02', '2020-03-09', '2020-03-16', '2020-03-23',
               '2020-03-30', '2020-04-06', '2020-04-13', '2020-04-20',
               '2020-04-27', '2020-05-04', '2020-05-11', '2020-05-18',
               '2020-05-25', '2020-06-01', '2020-06-08', '2020-06-15',
               '2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28', '2020-10-05',
               '2020-10-12', '2020-10-19', '2020-10-26', '2020-11-02',
               '2020-11-09', '2020-11-16', '2020-11-23', '2020-11-30',
               '2020-12-07', '2020-12-14', '2020-12-21', '2020-12-28'],
              dtype='datetime64[ns]', freq='W-MON')

In [161]:
data_range = pd.date_range(
    start='2020-01-01',
    periods=24,
    freq='H'
)

print(data_range)

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:00:00',
               '2020-01-01 02:00:00', '2020-01-01 03:00:00',
               '2020-01-01 04:00:00', '2020-01-01 05:00:00',
               '2020-01-01 06:00:00', '2020-01-01 07:00:00',
               '2020-01-01 08:00:00', '2020-01-01 09:00:00',
               '2020-01-01 10:00:00', '2020-01-01 11:00:00',
               '2020-01-01 12:00:00', '2020-01-01 13:00:00',
               '2020-01-01 14:00:00', '2020-01-01 15:00:00',
               '2020-01-01 16:00:00', '2020-01-01 17:00:00',
               '2020-01-01 18:00:00', '2020-01-01 19:00:00',
               '2020-01-01 20:00:00', '2020-01-01 21:00:00',
               '2020-01-01 22:00:00', '2020-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='h')

/tmp/ipython-input-2296755425.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  data_range = pd.date_range(

In [162]:
data_range = pd.date_range(
    start='2021-03-01',
    end='2021-03-31'
)
# Create DataFrame
df = pd.DataFrame({'day': data_range, 'day_of_year':data_range.dayofyear})
print(df)

          day  day_of_year
0  2021-03-01           60
1  2021-03-02           61
2  2021-03-03           62
3  2021-03-04           63
4  2021-03-05           64
5  2021-03-06           65
6  2021-03-07           66
7  2021-03-08           67
8  2021-03-09           68
9  2021-03-10           69
10 2021-03-11           70
11 2021-03-12           71
12 2021-03-13           72
13 2021-03-14           73
14 2021-03-15           74
15 2021-03-16           75
16 2021-03-17           76
17 2021-03-18           77
18 2021-03-19           78
19 2021-03-20           79
20 2021-03-21           80
21 2021-03-22           81
22 2021-03-23           82
23 2021-03-24           83
24 2021-03-25           84
25 2021-03-26           85
26 2021-03-27           86
27 2021-03-28           87
28 2021-03-29           88
29 2021-03-30           89
30 2021-03-31           90

In [163]:
import numpy as np
import pandas as pd


np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

# Create date_index
date_index = pd.date_range(start='2020-01-01', periods=1000, freq='D')

# Create DataFrame
df = pd.DataFrame(data_dict, index=date_index)
print(df)

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
...              ...       ...       ...
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

[1000 rows x 3 columns]

In [164]:
import numpy as np
import pandas as pd


np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2020-01-01', periods=1000))
print(df)

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
...              ...       ...       ...
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

[1000 rows x 3 columns]

In [165]:
pd.DataFrame.info(df)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2020-01-01 to 2022-09-26
Freq: D
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   normal    1000 non-null   float64
 1   uniform   1000 non-null   float64
 2   binomial  1000 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 31.2 KB

In [166]:
pd.DataFrame.describe(df)

            normal      uniform    binomial
count  1000.000000  1000.000000  1000.00000
mean      0.019332     0.503649     0.19200
std       0.979216     0.288357     0.39407
min      -3.241267     0.003218     0.00000
25%      -0.647590     0.247199     0.00000
50%       0.025301     0.516126     0.00000
75%       0.647944     0.746319     0.00000
max       3.852731     0.999414     1.00000

In [167]:
import numpy as np
import pandas as pd


np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2020-01-01', periods=1000))
print(df)

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
...              ...       ...       ...
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

[1000 rows x 3 columns]

In [168]:
df['binomial'].value_counts()

binomial
0    808
1    192
Name: count, dtype: int64

In [169]:
df.head(50).to_csv('dataframe50.csv', index=False)

In [170]:
df_new = pd.read_csv('dataframe50.csv', index_col=0)
print(df_new)

            uniform  binomial
normal
 0.496714  0.167483         0
-0.138264  0.104568         0
 0.647689  0.636430         0
 1.523030  0.706476         0
-0.234153  0.031586         1
-0.234137  0.936212         0
 1.579213  0.051971         0
 0.767435  0.541296         0
-0.469474  0.709061         1
 0.542560  0.870969         0
-0.463418  0.714087         0
-0.465730  0.801728         0
 0.241962  0.339450         0
-1.913280  0.814825         0
-1.724918  0.080115         0
-0.562288  0.894817         1
-1.012831  0.547592         0
 0.314247  0.817298         0
-0.908024  0.452318         1
-1.412304  0.643578         0
 1.465649  0.526403         0
-0.225776  0.731590         0
 0.067528  0.081630         0
-1.424748  0.060352         0
-0.544383  0.247103         1
 0.110923  0.159545         0
-1.150994  0.871784         0
 0.375698  0.219214         0
-0.600639  0.975865         1
-0.291694  0.336896         1
-0.601707  0.182118         1
 1.852278  0.789699         0
-0.013497  0.658708         0
-1.057711  0.498196         0
 0.822545  0.555364         0
-1.220844  0.719202         0
 0.208864  0.228455         0
-1.959670  0.996334         0
-1.328186  0.974793         0
 0.196861  0.650326         0
 0.738467  0.199542         0
 0.171368  0.680228         0
-0.115648  0.072198         0
-0.301104  0.030653         0
-1.478522  0.257683         0
-0.719844  0.462623         0
-0.460639  0.868273         0
 1.057122  0.727169         0
 0.343618  0.742707         1
-1.763040  0.425493         0

In [171]:
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'

df = pd.read_csv(url)
print(df.head())

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]

In [172]:
import pandas as pd


url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url)
print(df.head())

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]

In [173]:
df['TotalCharges'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7043 entries, 0 to 7042
Series name: TotalCharges
Non-Null Count  Dtype
--------------  -----
7043 non-null   object
dtypes: object(1)
memory usage: 55.2+ KB

In [174]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
print(df['TotalCharges'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 7043 entries, 0 to 7042
Series name: TotalCharges
Non-Null Count  Dtype
--------------  -----
7032 non-null   float64
dtypes: float64(1)
memory usage: 55.2 KB
None

In [175]:
# Calculation of the median for the TotalCharges column
median = df['TotalCharges'][df['TotalCharges'] != ' '].median()

# Fill the missing values with median
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = median

# Convert TotalCharges column to float type
df['TotalCharges'] = df['TotalCharges'].astype('float')

print(df['TotalCharges'].value_counts())

TotalCharges
20.20      11
19.75       9
19.65       8
19.90       8
20.05       8
           ..
130.15      1
3211.90     1
7843.55     1
2196.30     1
197.40      1
Name: count, Length: 6530, dtype: int64

In [176]:
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)
print(df)

            gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
customerID
7590-VHVEG  Female              0     Yes         No       1           No
5575-GNVDE    Male              0      No         No      34          Yes
3668-QPYBK    Male              0      No         No       2          Yes
7795-CFOCW    Male              0      No         No      45           No
9237-HQITU  Female              0      No         No       2          Yes
...            ...            ...     ...        ...     ...          ...
6840-RESVB    Male              0     Yes        Yes      24          Yes
2234-XADUH  Female              0     Yes        Yes      72          Yes
4801-JZAZL  Female              0     Yes        Yes      11           No
8361-LTMKD    Male              1     Yes         No       4          Yes
3186-AJIEK    Male              0      No         No      66          Yes

               MultipleLines InternetService OnlineSecurity OnlineBackup  \
customerID
7590-VHVEG  No phone service             DSL             No          Yes
5575-GNVDE                No             DSL            Yes           No
3668-QPYBK                No             DSL            Yes          Yes
7795-CFOCW  No phone service             DSL            Yes           No
9237-HQITU                No     Fiber optic             No           No
...                      ...             ...            ...          ...
6840-RESVB               Yes             DSL            Yes           No
2234-XADUH               Yes     Fiber optic             No          Yes
4801-JZAZL  No phone service             DSL            Yes           No
8361-LTMKD               Yes     Fiber optic             No           No
3186-AJIEK                No     Fiber optic            Yes           No

           DeviceProtection TechSupport StreamingTV StreamingMovies  \
customerID
7590-VHVEG               No          No          No              No
5575-GNVDE              Yes          No          No              No
3668-QPYBK               No          No          No              No
7795-CFOCW              Yes         Yes          No              No
9237-HQITU               No          No          No              No
...                     ...         ...         ...             ...
6840-RESVB              Yes         Yes         Yes             Yes
2234-XADUH              Yes          No         Yes             Yes
4801-JZAZL               No          No          No              No
8361-LTMKD               No          No          No              No
3186-AJIEK              Yes         Yes         Yes             Yes

                  Contract PaperlessBilling              PaymentMethod  \
customerID
7590-VHVEG  Month-to-month              Yes           Electronic check
5575-GNVDE        One year               No               Mailed check
3668-QPYBK  Month-to-month              Yes               Mailed check
7795-CFOCW        One year               No  Bank transfer (automatic)
9237-HQITU  Month-to-month              Yes           Electronic check
...                    ...              ...                        ...
6840-RESVB        One year              Yes               Mailed check
2234-XADUH        One year              Yes    Credit card (automatic)
4801-JZAZL  Month-to-month              Yes           Electronic check
8361-LTMKD  Month-to-month              Yes               Mailed check
3186-AJIEK        Two year              Yes  Bank transfer (automatic)

            MonthlyCharges TotalCharges Churn
customerID
7590-VHVEG           29.85        29.85    No
5575-GNVDE           56.95       1889.5    No
3668-QPYBK           53.85       108.15   Yes
7795-CFOCW           42.30      1840.75    No
9237-HQITU           70.70       151.65   Yes
...                    ...          ...   ...
6840-RESVB           84.80       1990.5    No
2234-XADUH          103.20       7362.9    No
4801-JZAZL           29.60       346.45    No
8361-LTMKD           74.40        306.6   Yes
3186-AJIEK          105.65       6844.5    No

[7043 rows x 20 columns]

In [177]:
print(df['Churn'].value_counts())

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [178]:
# Group by 'Churn' and 'PaymentMethod, then calculate the mean of 'MonthlyCharges'

result = df.groupby(['Churn', 'PaymentMethod'])['MonthlyCharges'].mean()

# Print result
print(result)

Churn  PaymentMethod
No     Bank transfer (automatic)    65.049417
       Credit card (automatic)      64.562209
       Electronic check             74.232032
       Mailed check                 41.403911
Yes    Bank transfer (automatic)    77.875581
       Credit card (automatic)      77.356034
       Electronic check             78.700980
       Mailed check                 54.557143
Name: MonthlyCharges, dtype: float64

In [179]:
# Map 'Yes' to 1 and 'No' to 0 in the 'Churn' column
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})

# Display the first five rows of the 'Churn' column
print(df['Churn'].head())

customerID
7590-VHVEG    0
5575-GNVDE    0
3668-QPYBK    1
7795-CFOCW    0
9237-HQITU    1
Name: Churn, dtype: int64

In [180]:
# Calculate the correlation matrix
correlation_matrix = df.corr(numeric_only=True)

# Print the correlation matrix
print(correlation_matrix)

                SeniorCitizen    tenure  MonthlyCharges     Churn
SeniorCitizen        1.000000  0.016567        0.220173  0.150889
tenure               0.016567  1.000000        0.247900 -0.352229
MonthlyCharges       0.220173  0.247900        1.000000  0.193356
Churn                0.150889 -0.352229        0.193356  1.000000

In [181]:
sample_df = df.sample(n=10, random_state=42)
sample_df.to_csv('sample_10.csv')

In [182]:
import numpy as np
import pandas as pd


np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

# Combine into a DataFrame
df = pd.DataFrame({
    'col1': s1,
    'col2': s2
})
print(df)

        col1      col2
0   0.374540 -1.012831
1   0.950714  0.314247
2   0.731994 -0.908024
3   0.598658 -1.412304
4   0.156019  1.465649
5   0.155995 -0.225776
6   0.058084  0.067528
7   0.866176 -1.424748
8   0.601115 -0.544383
9   0.708073  0.110923
10  0.020584 -1.150994
11  0.969910  0.375698
12  0.832443 -0.600639
13  0.212339 -0.291694
14  0.181825 -0.601707
15  0.183405  1.852278
16  0.304242 -0.013497
17  0.524756 -1.057711
18  0.431945  0.822545
19  0.291229 -1.220844

In [183]:
# Filter rows col2 is between 0.0 and 1.0 (inclusive)
filtered_df = df[df['col2'].between(0.0, 1.0)]
print(filtered_df)

        col1      col2
1   0.950714  0.314247
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
18  0.431945  0.822545

In [184]:
# Assign new 'col3' based on values in 'col2'
df['col3'] = np.where(df['col2'] >= 0, 1, -1)

print(df)

        col1      col2  col3
0   0.374540 -1.012831    -1
1   0.950714  0.314247     1
2   0.731994 -0.908024    -1
3   0.598658 -1.412304    -1
4   0.156019  1.465649     1
5   0.155995 -0.225776    -1
6   0.058084  0.067528     1
7   0.866176 -1.424748    -1
8   0.601115 -0.544383    -1
9   0.708073  0.110923     1
10  0.020584 -1.150994    -1
11  0.969910  0.375698     1
12  0.832443 -0.600639    -1
13  0.212339 -0.291694    -1
14  0.181825 -0.601707    -1
15  0.183405  1.852278     1
16  0.304242 -0.013497    -1
17  0.524756 -1.057711    -1
18  0.431945  0.822545     1
19  0.291229 -1.220844    -1

In [185]:
import numpy as np
import pandas as pd


np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
df['col3'] = df['col2'].map(lambda x: 1 if x >= 0 else -1)

In [186]:
print(df)

        col1      col2  col3
0   0.374540 -1.012831    -1
1   0.950714  0.314247     1
2   0.731994 -0.908024    -1
3   0.598658 -1.412304    -1
4   0.156019  1.465649     1
5   0.155995 -0.225776    -1
6   0.058084  0.067528     1
7   0.866176 -1.424748    -1
8   0.601115 -0.544383    -1
9   0.708073  0.110923     1
10  0.020584 -1.150994    -1
11  0.969910  0.375698     1
12  0.832443 -0.600639    -1
13  0.212339 -0.291694    -1
14  0.181825 -0.601707    -1
15  0.183405  1.852278     1
16  0.304242 -0.013497    -1
17  0.524756 -1.057711    -1
18  0.431945  0.822545     1
19  0.291229 -1.220844    -1

In [187]:
df['col4'] = df['col2'].clip(-1.0, 1.0)
print(df)

        col1      col2  col3      col4
0   0.374540 -1.012831    -1 -1.000000
1   0.950714  0.314247     1  0.314247
2   0.731994 -0.908024    -1 -0.908024
3   0.598658 -1.412304    -1 -1.000000
4   0.156019  1.465649     1  1.000000
5   0.155995 -0.225776    -1 -0.225776
6   0.058084  0.067528     1  0.067528
7   0.866176 -1.424748    -1 -1.000000
8   0.601115 -0.544383    -1 -0.544383
9   0.708073  0.110923     1  0.110923
10  0.020584 -1.150994    -1 -1.000000
11  0.969910  0.375698     1  0.375698
12  0.832443 -0.600639    -1 -0.600639
13  0.212339 -0.291694    -1 -0.291694
14  0.181825 -0.601707    -1 -0.601707
15  0.183405  1.852278     1  1.000000
16  0.304242 -0.013497    -1 -0.013497
17  0.524756 -1.057711    -1 -1.000000
18  0.431945  0.822545     1  0.822545
19  0.291229 -1.220844    -1 -1.000000

In [188]:
import numpy as np
import pandas as pd


np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df)

        col1      col2
0   0.374540 -1.012831
1   0.950714  0.314247
2   0.731994 -0.908024
3   0.598658 -1.412304
4   0.156019  1.465649
5   0.155995 -0.225776
6   0.058084  0.067528
7   0.866176 -1.424748
8   0.601115 -0.544383
9   0.708073  0.110923
10  0.020584 -1.150994
11  0.969910  0.375698
12  0.832443 -0.600639
13  0.212339 -0.291694
14  0.181825 -0.601707
15  0.183405  1.852278
16  0.304242 -0.013497
17  0.524756 -1.057711
18  0.431945  0.822545
19  0.291229 -1.220844

In [189]:
import numpy as np
import pandas as pd


np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']

In [190]:
print(df['col2'].nlargest(5))

15    1.852278
4     1.465649
18    0.822545
11    0.375698
1     0.314247
Name: col2, dtype: float64

In [191]:
print(df['col2'].nsmallest(5))

7    -1.424748
3    -1.412304
19   -1.220844
10   -1.150994
17   -1.057711
Name: col2, dtype: float64

In [192]:
import numpy as np
import pandas as pd


np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df)

        col1      col2
0   0.374540 -1.012831
1   0.950714  0.314247
2   0.731994 -0.908024
3   0.598658 -1.412304
4   0.156019  1.465649
5   0.155995 -0.225776
6   0.058084  0.067528
7   0.866176 -1.424748
8   0.601115 -0.544383
9   0.708073  0.110923
10  0.020584 -1.150994
11  0.969910  0.375698
12  0.832443 -0.600639
13  0.212339 -0.291694
14  0.181825 -0.601707
15  0.183405  1.852278
16  0.304242 -0.013497
17  0.524756 -1.057711
18  0.431945  0.822545
19  0.291229 -1.220844

In [193]:
print(df.cumsum())

        col1      col2
0   0.374540 -1.012831
1   1.325254 -0.698584
2   2.057248 -1.606608
3   2.655907 -3.018912
4   2.811925 -1.553263
5   2.967920 -1.779039
6   3.026004 -1.711511
7   3.892180 -3.136259
8   4.493295 -3.680642
9   5.201367 -3.569719
10  5.221952 -4.720713
11  6.191862 -4.345015
12  7.024304 -4.945653
13  7.236643 -5.237347
14  7.418468 -5.839054
15  7.601873 -3.986776
16  7.906115 -4.000273
17  8.430872 -5.057984
18  8.862817 -4.235439
19  9.154046 -5.456283

In [194]:
import numpy as np
import pandas as pd


np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df['col2'].median())

-0.4180382371592297

In [195]:
filtered_df = df[df['col2']>0]
print(filtered_df)

        col1      col2
1   0.950714  0.314247
4   0.156019  1.465649
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
15  0.183405  1.852278
18  0.431945  0.822545

In [196]:
print(df.head().to_dict())

{'col1': {0: 0.3745401188473625, 1: 0.9507143064099162, 2: 0.7319939418114051, 3: 0.5986584841970366, 4: 0.15601864044243652}, 'col2': {0: -1.0128311203344238, 1: 0.3142473325952739, 2: -0.9080240755212109, 3: -1.4123037013352915, 4: 1.465648768921554}}

In [197]:
print(df.head().to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.374540</td>
      <td>-1.012831</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.950714</td>
      <td>0.314247</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.731994</td>
      <td>-0.908024</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.598658</td>
      <td>-1.412304</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.156019</td>
      <td>1.465649</td>
    </tr>
  </tbody>
</table>

In [198]:
import numpy as np
import pandas as pd


np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
print(df)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632  0.808397
9  0.304614  0.097672  0.684233  0.440152

In [199]:
print(df)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632  0.808397
9  0.304614  0.097672  0.684233  0.440152

In [200]:
# Extract rows where column C > 0.8
filtered_df = df[df['C'] > 0.8]

print(filtered_df)

          A         B         C         D
8  0.065052  0.948886  0.965632  0.808397

In [201]:
import numpy as np
import pandas as pd


np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

In [202]:
filtered_df = df[(df['C'] > 0.3) & (df['D'] < 0.7)]
print(filtered_df)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
4  0.304242  0.524756  0.431945  0.291229
7  0.592415  0.046450  0.607545  0.170524
9  0.304614  0.097672  0.684233  0.440152

In [203]:
import numpy as np
import pandas as pd


np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

In [204]:
import numpy as np
import pandas as pd


np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df.iloc[3, 1] = np.nan
df.loc[8, 'D'] = np.nan
print(df)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443       NaN  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632       NaN
9  0.304614  0.097672  0.684233  0.440152

In [205]:
df1 = df.dropna()
print(df1)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
9  0.304614  0.097672  0.684233  0.440152

In [206]:
df1=df1.reset_index(drop=True)
print(df1)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.304242  0.524756  0.431945  0.291229
4  0.611853  0.139494  0.292145  0.366362
5  0.456070  0.785176  0.199674  0.514234
6  0.592415  0.046450  0.607545  0.170524
7  0.304614  0.097672  0.684233  0.440152

In [207]:
missing_values = df.isna().sum()
print(missing_values)

A    0
B    1
C    0
D    1
dtype: int64

In [208]:
print(df)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443       NaN  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632       NaN
9  0.304614  0.097672  0.684233  0.440152

In [209]:
df = df.fillna(0)
print(df)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.000000  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632  0.000000
9  0.304614  0.097672  0.684233  0.440152

In [210]:
df = df[['D', 'A', 'B', 'C']]
print(df)

          D         A         B         C
0  0.598658  0.374540  0.950714  0.731994
1  0.866176  0.156019  0.155995  0.058084
2  0.969910  0.601115  0.708073  0.020584
3  0.183405  0.832443  0.000000  0.181825
4  0.291229  0.304242  0.524756  0.431945
5  0.366362  0.611853  0.139494  0.292145
6  0.514234  0.456070  0.785176  0.199674
7  0.170524  0.592415  0.046450  0.607545
8  0.000000  0.065052  0.948886  0.965632
9  0.440152  0.304614  0.097672  0.684233

In [211]:
import numpy as np
import pandas as pd


np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

In [212]:
df =df[['A', 'B', 'C']]
print(df)

          A         B         C
0  0.374540  0.950714  0.731994
1  0.156019  0.155995  0.058084
2  0.601115  0.708073  0.020584
3  0.832443  0.212339  0.181825
4  0.304242  0.524756  0.431945
5  0.611853  0.139494  0.292145
6  0.456070  0.785176  0.199674
7  0.592415  0.046450  0.607545
8  0.065052  0.948886  0.965632
9  0.304614  0.097672  0.684233

In [213]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
print(df)

                                  Name    Location  Year  Kilometers_Driven  \
0               Maruti Wagon R LXI CNG      Mumbai  2010              72000
1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                         Honda Jazz V     Chennai  2011              46000
3                    Maruti Ertiga VDI     Chennai  2012              87000
4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
...                                ...         ...   ...                ...
6014                  Maruti Swift VDI       Delhi  2014              27365
6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015             100000
6016             Mahindra Xylo D4 BSIV      Jaipur  2012              55000
6017                Maruti Wagon R VXI     Kolkata  2013              46000
6018             Chevrolet Beat Diesel   Hyderabad  2011              47000

     Fuel_Type Transmission Owner_Type     Mileage   Engine      Power  Seats  \
0          CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1       Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2       Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3       Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4       Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0
...        ...          ...        ...         ...      ...        ...    ...
6014    Diesel       Manual      First   28.4 kmpl  1248 CC     74 bhp    5.0
6015    Diesel       Manual      First   24.4 kmpl  1120 CC     71 bhp    5.0
6016    Diesel       Manual     Second   14.0 kmpl  2498 CC    112 bhp    8.0
6017    Petrol       Manual      First   18.9 kmpl   998 CC   67.1 bhp    5.0
6018    Diesel       Manual      First  25.44 kmpl   936 CC   57.6 bhp    5.0

      New_Price  Price
0           NaN   1.75
1           NaN  12.50
2     8.61 Lakh   4.50
3           NaN   6.00
4           NaN  17.74
...         ...    ...
6014  7.88 Lakh   4.75
6015        NaN   4.00
6016        NaN   2.90
6017        NaN   2.65
6018        NaN   2.50

[6019 rows x 13 columns]

In [214]:
column_list = list(df.columns)
print(column_list)

['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price']

In [215]:
print(df)

                                  Name    Location  Year  Kilometers_Driven  \
0               Maruti Wagon R LXI CNG      Mumbai  2010              72000
1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                         Honda Jazz V     Chennai  2011              46000
3                    Maruti Ertiga VDI     Chennai  2012              87000
4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
...                                ...         ...   ...                ...
6014                  Maruti Swift VDI       Delhi  2014              27365
6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015             100000
6016             Mahindra Xylo D4 BSIV      Jaipur  2012              55000
6017                Maruti Wagon R VXI     Kolkata  2013              46000
6018             Chevrolet Beat Diesel   Hyderabad  2011              47000

     Fuel_Type Transmission Owner_Type     Mileage   Engine      Power  Seats  \
0          CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1       Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2       Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3       Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4       Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0
...        ...          ...        ...         ...      ...        ...    ...
6014    Diesel       Manual      First   28.4 kmpl  1248 CC     74 bhp    5.0
6015    Diesel       Manual      First   24.4 kmpl  1120 CC     71 bhp    5.0
6016    Diesel       Manual     Second   14.0 kmpl  2498 CC    112 bhp    8.0
6017    Petrol       Manual      First   18.9 kmpl   998 CC   67.1 bhp    5.0
6018    Diesel       Manual      First  25.44 kmpl   936 CC   57.6 bhp    5.0

      New_Price  Price
0           NaN   1.75
1           NaN  12.50
2     8.61 Lakh   4.50
3           NaN   6.00
4           NaN  17.74
...         ...    ...
6014  7.88 Lakh   4.75
6015        NaN   4.00
6016        NaN   2.90
6017        NaN   2.65
6018        NaN   2.50

[6019 rows x 13 columns]

In [216]:
df_filtered = df.drop(columns=['New_Price'])
print(df_filtered.head(5))

                               Name    Location  Year  Kilometers_Driven  \
0            Maruti Wagon R LXI CNG      Mumbai  2010              72000
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                      Honda Jazz V     Chennai  2011              46000
3                 Maruti Ertiga VDI     Chennai  2012              87000
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670

  Fuel_Type Transmission Owner_Type     Mileage   Engine      Power  Seats  \
0       CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1    Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2    Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3    Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4    Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0

   Price
0   1.75
1  12.50
2   4.50
3   6.00
4  17.74

In [217]:
missing_values = df.isna().sum()
print(missing_values)

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [218]:
missing_values = df_filtered.isna().sum()
print(missing_values)

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                42
Price                 0
dtype: int64

In [219]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 823 entries, 2 to 6014
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               823 non-null    object
 1   Location           823 non-null    object
 2   Year               823 non-null    int64
 3   Kilometers_Driven  823 non-null    int64
 4   Fuel_Type          823 non-null    object
 5   Transmission       823 non-null    object
 6   Owner_Type         823 non-null    object
 7   Mileage            823 non-null    object
 8   Engine             823 non-null    object
 9   Power              823 non-null    object
 10  Seats              823 non-null    float64
 11  New_Price          823 non-null    object
 12  Price              823 non-null    float64
dtypes: float64(2), int64(2), object(9)
memory usage: 90.0+ KB

In [220]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
print(df)

                                  Name    Location  Year  Kilometers_Driven  \
0               Maruti Wagon R LXI CNG      Mumbai  2010              72000
1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                         Honda Jazz V     Chennai  2011              46000
3                    Maruti Ertiga VDI     Chennai  2012              87000
4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
...                                ...         ...   ...                ...
6014                  Maruti Swift VDI       Delhi  2014              27365
6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015             100000
6016             Mahindra Xylo D4 BSIV      Jaipur  2012              55000
6017                Maruti Wagon R VXI     Kolkata  2013              46000
6018             Chevrolet Beat Diesel   Hyderabad  2011              47000

     Fuel_Type Transmission Owner_Type     Mileage   Engine      Power  Seats  \
0          CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1       Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2       Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3       Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4       Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0
...        ...          ...        ...         ...      ...        ...    ...
6014    Diesel       Manual      First   28.4 kmpl  1248 CC     74 bhp    5.0
6015    Diesel       Manual      First   24.4 kmpl  1120 CC     71 bhp    5.0
6016    Diesel       Manual     Second   14.0 kmpl  2498 CC    112 bhp    8.0
6017    Petrol       Manual      First   18.9 kmpl   998 CC   67.1 bhp    5.0
6018    Diesel       Manual      First  25.44 kmpl   936 CC   57.6 bhp    5.0

      New_Price  Price
0           NaN   1.75
1           NaN  12.50
2     8.61 Lakh   4.50
3           NaN   6.00
4           NaN  17.74
...         ...    ...
6014  7.88 Lakh   4.75
6015        NaN   4.00
6016        NaN   2.90
6017        NaN   2.65
6018        NaN   2.50

[6019 rows x 13 columns]

In [221]:
df.columns = df.columns.str.lower()
print(df.head())

                               name    location  year  kilometers_driven  \
0            Maruti Wagon R LXI CNG      Mumbai  2010              72000
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                      Honda Jazz V     Chennai  2011              46000
3                 Maruti Ertiga VDI     Chennai  2012              87000
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670

  fuel_type transmission owner_type     mileage   engine      power  seats  \
0       CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1    Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2    Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3    Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4    Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0

   new_price  price
0        NaN   1.75
1        NaN  12.50
2  8.61 Lakh   4.50
3        NaN   6.00
4        NaN  17.74

In [222]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]
print(df.head())

                               name    location  year  kilometers_driven  \
0            Maruti Wagon R LXI CNG      Mumbai  2010              72000
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                      Honda Jazz V     Chennai  2011              46000
3                 Maruti Ertiga VDI     Chennai  2012              87000
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670

  fuel_type transmission owner_type     mileage   engine      power  seats  \
0       CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1    Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2    Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3    Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4    Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0

   new_price  price
0        NaN   1.75
1        NaN  12.50
2  8.61 Lakh   4.50
3        NaN   6.00
4        NaN  17.74

In [223]:
print(df["owner_type"].value_counts())

owner_type
First             4929
Second             968
Third              113
Fourth & Above       9
Name: count, dtype: int64

In [224]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]
df.dropna(inplace=True)
print(df)

                                   name location  year  kilometers_driven  \
2                          Honda Jazz V  Chennai  2011              46000
7     Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016              36000
10                     Maruti Ciaz Zeta    Kochi  2018              25692
15          Mitsubishi Pajero Sport 4X4    Delhi  2014             110000
20                    BMW 3 Series 320d    Kochi  2014              32982
...                                 ...      ...   ...                ...
5999              Tata Bolt Revotron XT  Chennai  2016              10000
6002      Volkswagen Vento 1.6 Highline   Mumbai  2011              38000
6005           Maruti Vitara Brezza VDi     Pune  2016              37208
6010               Honda Brio 1.2 VX MT    Delhi  2013              33746
6014                   Maruti Swift VDI    Delhi  2014              27365

     fuel_type transmission owner_type     mileage   engine       power  \
2       Petrol       Manual      First   18.2 kmpl  1199 CC    88.7 bhp
7       Diesel    Automatic      First  11.36 kmpl  2755 CC   171.5 bhp
10      Petrol       Manual      First  21.56 kmpl  1462 CC  103.25 bhp
15      Diesel       Manual      First   13.5 kmpl  2477 CC  175.56 bhp
20      Diesel    Automatic      First  22.69 kmpl  1995 CC     190 bhp
...        ...          ...        ...         ...      ...         ...
5999    Petrol       Manual      First  17.57 kmpl  1193 CC    88.7 bhp
6002    Petrol       Manual      First  16.09 kmpl  1598 CC   103.5 bhp
6005    Diesel       Manual      First   24.3 kmpl  1248 CC    88.5 bhp
6010    Petrol       Manual      First   18.5 kmpl  1198 CC    86.8 bhp
6014    Diesel       Manual      First   28.4 kmpl  1248 CC      74 bhp

      seats   new_price  price
2       5.0   8.61 Lakh   4.50
7       8.0     21 Lakh  17.50
10      5.0  10.65 Lakh   9.95
15      7.0  32.01 Lakh  15.00
20      5.0  47.87 Lakh  18.55
...     ...         ...    ...
5999    5.0   7.77 Lakh   4.00
6002    5.0  11.91 Lakh   3.25
6005    5.0   9.93 Lakh   7.43
6010    5.0   6.63 Lakh   3.20
6014    5.0   7.88 Lakh   4.75

[823 rows x 13 columns]

In [225]:
df["engine"].describe()

count         823
unique         58
top       1248 CC
freq           92
Name: engine, dtype: object

In [226]:
import numpy as np
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]
print(df)

                                  name    location  year  kilometers_driven  \
0               Maruti Wagon R LXI CNG      Mumbai  2010              72000
1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                         Honda Jazz V     Chennai  2011              46000
3                    Maruti Ertiga VDI     Chennai  2012              87000
4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
...                                ...         ...   ...                ...
6014                  Maruti Swift VDI       Delhi  2014              27365
6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015             100000
6016             Mahindra Xylo D4 BSIV      Jaipur  2012              55000
6017                Maruti Wagon R VXI     Kolkata  2013              46000
6018             Chevrolet Beat Diesel   Hyderabad  2011              47000

     fuel_type transmission owner_type     mileage   engine      power  seats  \
0          CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1       Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2       Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3       Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4       Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0
...        ...          ...        ...         ...      ...        ...    ...
6014    Diesel       Manual      First   28.4 kmpl  1248 CC     74 bhp    5.0
6015    Diesel       Manual      First   24.4 kmpl  1120 CC     71 bhp    5.0
6016    Diesel       Manual     Second   14.0 kmpl  2498 CC    112 bhp    8.0
6017    Petrol       Manual      First   18.9 kmpl   998 CC   67.1 bhp    5.0
6018    Diesel       Manual      First  25.44 kmpl   936 CC   57.6 bhp    5.0

      new_price  price
0           NaN   1.75
1           NaN  12.50
2     8.61 Lakh   4.50
3           NaN   6.00
4           NaN  17.74
...         ...    ...
6014  7.88 Lakh   4.75
6015        NaN   4.00
6016        NaN   2.90
6017        NaN   2.65
6018        NaN   2.50

[6019 rows x 13 columns]

In [227]:
df["power"] = np.where(df["power"] == "null bhp", np.nan, df["power"])
print(df["power"].value_counts().head())

power
74 bhp      235
98.6 bhp    131
73.9 bhp    125
140 bhp     123
78.9 bhp    111
Name: count, dtype: int64

In [228]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]
print(df)

                                  name    location  year  kilometers_driven  \
0               Maruti Wagon R LXI CNG      Mumbai  2010              72000
1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                         Honda Jazz V     Chennai  2011              46000
3                    Maruti Ertiga VDI     Chennai  2012              87000
4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
...                                ...         ...   ...                ...
6014                  Maruti Swift VDI       Delhi  2014              27365
6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015             100000
6016             Mahindra Xylo D4 BSIV      Jaipur  2012              55000
6017                Maruti Wagon R VXI     Kolkata  2013              46000
6018             Chevrolet Beat Diesel   Hyderabad  2011              47000

     fuel_type transmission owner_type     mileage   engine      power  seats  \
0          CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1       Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2       Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3       Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4       Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0
...        ...          ...        ...         ...      ...        ...    ...
6014    Diesel       Manual      First   28.4 kmpl  1248 CC     74 bhp    5.0
6015    Diesel       Manual      First   24.4 kmpl  1120 CC     71 bhp    5.0
6016    Diesel       Manual     Second   14.0 kmpl  2498 CC    112 bhp    8.0
6017    Petrol       Manual      First   18.9 kmpl   998 CC   67.1 bhp    5.0
6018    Diesel       Manual      First  25.44 kmpl   936 CC   57.6 bhp    5.0

      new_price  price
0           NaN   1.75
1           NaN  12.50
2     8.61 Lakh   4.50
3           NaN   6.00
4           NaN  17.74
...         ...    ...
6014  7.88 Lakh   4.75
6015        NaN   4.00
6016        NaN   2.90
6017        NaN   2.65
6018        NaN   2.50

[6019 rows x 13 columns]

In [229]:
print(df.groupby("year").size())

year
1998      4
1999      2
2000      4
2001      8
2002     15
2003     17
2004     31
2005     57
2006     78
2007    125
2008    174
2009    198
2010    342
2011    466
2012    580
2013    649
2014    797
2015    744
2016    741
2017    587
2018    298
2019    102
dtype: int64

In [230]:
df["transmission"] = df["transmission"].map({"Manual": 0, "Automatic": 1})
print(df["transmission"].head())

0    0
1    0
2    0
3    0
4    1
Name: transmission, dtype: int64

In [231]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]

In [232]:
df.to_csv("cars.csv", index=False)

In [233]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv'

df = pd.read_csv(url, index_col=0)
print(df.describe())

                cnt            t1            t2           hum    wind_speed  \
count  17414.000000  17414.000000  17414.000000  17414.000000  17414.000000
mean    1143.101642     12.468091     11.520836     72.324954     15.913063
std     1085.108068      5.571818      6.615145     14.313186      7.894570
min        0.000000     -1.500000     -6.000000     20.500000      0.000000
25%      257.000000      8.000000      6.000000     63.000000     10.000000
50%      844.000000     12.500000     12.500000     74.500000     15.000000
75%     1671.750000     16.000000     16.000000     83.000000     20.500000
max     7860.000000     34.000000     34.000000    100.000000     56.500000

       weather_code    is_holiday    is_weekend        season
count  17414.000000  17414.000000  17414.000000  17414.000000
mean       2.722752      0.022051      0.285403      1.492075
std        2.341163      0.146854      0.451619      1.118911
min        1.000000      0.000000      0.000000      0.000000
25%        1.000000      0.000000      0.000000      0.000000
50%        2.000000      0.000000      0.000000      1.000000
75%        3.000000      0.000000      1.000000      2.000000
max       26.000000      1.000000      1.000000      3.000000

In [234]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 17414 entries, 2015-01-04 00:00:00 to 2017-01-03 23:00:00
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cnt           17414 non-null  int64
 1   t1            17414 non-null  float64
 2   t2            17414 non-null  float64
 3   hum           17414 non-null  float64
 4   wind_speed    17414 non-null  float64
 5   weather_code  17414 non-null  float64
 6   is_holiday    17414 non-null  float64
 7   is_weekend    17414 non-null  float64
 8   season        17414 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 1.3+ MB
None

In [235]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv'
df = pd.read_csv(url, index_col=0)

In [236]:
print(df.head())
print(df.tail())

                     cnt   t1   t2    hum  wind_speed  weather_code  \
timestamp
2015-01-04 00:00:00  182  3.0  2.0   93.0         6.0           3.0
2015-01-04 01:00:00  138  3.0  2.5   93.0         5.0           1.0
2015-01-04 02:00:00  134  2.5  2.5   96.5         0.0           1.0
2015-01-04 03:00:00   72  2.0  2.0  100.0         0.0           1.0
2015-01-04 04:00:00   47  2.0  0.0   93.0         6.5           1.0

                     is_holiday  is_weekend  season
timestamp
2015-01-04 00:00:00         0.0         1.0     3.0
2015-01-04 01:00:00         0.0         1.0     3.0
2015-01-04 02:00:00         0.0         1.0     3.0
2015-01-04 03:00:00         0.0         1.0     3.0
2015-01-04 04:00:00         0.0         1.0     3.0
                      cnt   t1   t2   hum  wind_speed  weather_code  \
timestamp
2017-01-03 19:00:00  1042  5.0  1.0  81.0        19.0           3.0
2017-01-03 20:00:00   541  5.0  1.0  81.0        21.0           4.0
2017-01-03 21:00:00   337  5.5  1.5  78.5        24.0           4.0
2017-01-03 22:00:00   224  5.5  1.5  76.0        23.0           4.0
2017-01-03 23:00:00   139  5.0  1.0  76.0        22.0           2.0

                     is_holiday  is_weekend  season
timestamp
2017-01-03 19:00:00         0.0         0.0     3.0
2017-01-03 20:00:00         0.0         0.0     3.0
2017-01-03 21:00:00         0.0         0.0     3.0
2017-01-03 22:00:00         0.0         0.0     3.0
2017-01-03 23:00:00         0.0         0.0     3.0

In [237]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17414 entries, 2015-01-04 00:00:00 to 2017-01-03 23:00:00
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cnt           17414 non-null  int64
 1   t1            17414 non-null  float64
 2   t2            17414 non-null  float64
 3   hum           17414 non-null  float64
 4   wind_speed    17414 non-null  float64
 5   weather_code  17414 non-null  float64
 6   is_holiday    17414 non-null  float64
 7   is_weekend    17414 non-null  float64
 8   season        17414 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 1.3+ MB

In [238]:
print(df)

                      cnt   t1   t2    hum  wind_speed  weather_code  \
timestamp
2015-01-04 00:00:00   182  3.0  2.0   93.0         6.0           3.0
2015-01-04 01:00:00   138  3.0  2.5   93.0         5.0           1.0
2015-01-04 02:00:00   134  2.5  2.5   96.5         0.0           1.0
2015-01-04 03:00:00    72  2.0  2.0  100.0         0.0           1.0
2015-01-04 04:00:00    47  2.0  0.0   93.0         6.5           1.0
...                   ...  ...  ...    ...         ...           ...
2017-01-03 19:00:00  1042  5.0  1.0   81.0        19.0           3.0
2017-01-03 20:00:00   541  5.0  1.0   81.0        21.0           4.0
2017-01-03 21:00:00   337  5.5  1.5   78.5        24.0           4.0
2017-01-03 22:00:00   224  5.5  1.5   76.0        23.0           4.0
2017-01-03 23:00:00   139  5.0  1.0   76.0        22.0           2.0

                     is_holiday  is_weekend  season
timestamp
2015-01-04 00:00:00         0.0         1.0     3.0
2015-01-04 01:00:00         0.0         1.0     3.0
2015-01-04 02:00:00         0.0         1.0     3.0
2015-01-04 03:00:00         0.0         1.0     3.0
2015-01-04 04:00:00         0.0         1.0     3.0
...                         ...         ...     ...
2017-01-03 19:00:00         0.0         0.0     3.0
2017-01-03 20:00:00         0.0         0.0     3.0
2017-01-03 21:00:00         0.0         0.0     3.0
2017-01-03 22:00:00         0.0         0.0     3.0
2017-01-03 23:00:00         0.0         0.0     3.0

[17414 rows x 9 columns]

In [239]:
df_weekend = df[df["is_weekend"] == 1.0].copy()
print(df_weekend)

                     cnt   t1   t2    hum  wind_speed  weather_code  \
timestamp
2015-01-04 00:00:00  182  3.0  2.0   93.0         6.0           3.0
2015-01-04 01:00:00  138  3.0  2.5   93.0         5.0           1.0
2015-01-04 02:00:00  134  2.5  2.5   96.5         0.0           1.0
2015-01-04 03:00:00   72  2.0  2.0  100.0         0.0           1.0
2015-01-04 04:00:00   47  2.0  0.0   93.0         6.5           1.0
...                  ...  ...  ...    ...         ...           ...
2017-01-01 19:00:00  136  5.0  2.0   93.0        15.0           7.0
2017-01-01 20:00:00  116  5.0  2.0   93.0        14.0           7.0
2017-01-01 21:00:00  110  5.0  2.0   93.0        14.0          26.0
2017-01-01 22:00:00  119  5.0  2.0   93.0        12.0           3.0
2017-01-01 23:00:00   89  5.0  2.5   90.0        10.0           1.0

                     is_holiday  is_weekend  season
timestamp
2015-01-04 00:00:00         0.0         1.0     3.0
2015-01-04 01:00:00         0.0         1.0     3.0
2015-01-04 02:00:00         0.0         1.0     3.0
2015-01-04 03:00:00         0.0         1.0     3.0
2015-01-04 04:00:00         0.0         1.0     3.0
...                         ...         ...     ...
2017-01-01 19:00:00         0.0         1.0     3.0
2017-01-01 20:00:00         0.0         1.0     3.0
2017-01-01 21:00:00         0.0         1.0     3.0
2017-01-01 22:00:00         0.0         1.0     3.0
2017-01-01 23:00:00         0.0         1.0     3.0

[4970 rows x 9 columns]

In [240]:
df_weekend.to_csv("weekend.csv", index=False)

In [241]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'

In [242]:
df = pd.read_csv(url)
print(df.head())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [243]:
duplicates = df[df.duplicated()]
print(duplicates)

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [244]:
df = df.drop_duplicates()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   object
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   object
 5   region    1337 non-null   object
 6   charges   1337 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.6+ KB
None

In [245]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)

In [246]:
print(df.select_dtypes("object"))

         sex smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
...      ...    ...        ...
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1338 rows x 3 columns]

In [247]:
df[["sex", "smoker", "region"]] = df[["sex", "smoker", "region"]].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   category
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   category
 5   region    1338 non-null   category
 6   charges   1338 non-null   float64
dtypes: category(3), float64(2), int64(2)
memory usage: 46.3 KB

In [248]:
numeric_cols = list(df.select_dtypes(include=["int64", "float64"]).columns)
print(numeric_cols)

['age', 'bmi', 'children', 'charges']

In [249]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
for col in list(df.select_dtypes(include=['object']).columns):
    df[col] = df[col].astype('category')

print(df)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [250]:
df_cat = df.select_dtypes("category").copy
print(df_cat)

<bound method NDFrame.copy of          sex smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
...      ...    ...        ...
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1338 rows x 3 columns]>

In [251]:
df_num = df.select_dtypes(include=["int64", "float64"]).copy()
print(df_num)

      age     bmi  children      charges
0      19  27.900         0  16884.92400
1      18  33.770         1   1725.55230
2      28  33.000         3   4449.46200
3      33  22.705         0  21984.47061
4      32  28.880         0   3866.85520
...   ...     ...       ...          ...
1333   50  30.970         3  10600.54830
1334   18  31.920         0   2205.98080
1335   18  36.850         0   1629.83350
1336   21  25.800         0   2007.94500
1337   61  29.070         0  29141.36030

[1338 rows x 4 columns]

In [252]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
for col in list(df.select_dtypes(include=['object']).columns):
    df[col] = df[col].astype('category')
df_cat = df.select_dtypes(include=['category']).copy()

In [253]:
df_cat.describe()

         sex smoker     region
count   1338   1338       1338
unique     2      2          4
top     male     no  southeast
freq     676   1064        364

In [254]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
for col in list(df.select_dtypes(include=['object']).columns):
    df[col] = df[col].astype('category')
df_num = df.select_dtypes(include=['float', 'int']).copy()

In [255]:
print(df_num.describe())

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [256]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)

In [257]:
print(df.head())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [258]:
stats = df.describe().T[["mean","std"]]
print(stats)

                  mean           std
age          39.207025     14.049960
bmi          30.663397      6.098187
children      1.094918      1.205493
charges   13270.422265  12110.011237

In [259]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)

In [260]:
print(df.isnull().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [261]:
import pandas as pd



url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
for col in list(df.select_dtypes(include=['object']).columns):
    df[col] = df[col].astype('category')

In [262]:
print(df.head())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [263]:
df_dummies = pd.get_dummies(df, drop_first=True)
print(df_dummies.head())

   age     bmi  children      charges  sex_male  smoker_yes  region_northwest  \
0   19  27.900         0  16884.92400     False        True             False
1   18  33.770         1   1725.55230      True       False             False
2   28  33.000         3   4449.46200      True       False             False
3   33  22.705         0  21984.47061      True       False              True
4   32  28.880         0   3866.85520      True       False              True

   region_southeast  region_southwest
0             False              True
1              True             False
2              True             False
3             False             False
4             False             False

In [264]:
corr = df_dummies.corr()
print(corr)

                       age       bmi  children   charges  sex_male  \
age               1.000000  0.109272  0.042469  0.299008 -0.020856
bmi               0.109272  1.000000  0.012759  0.198341  0.046371
children          0.042469  0.012759  1.000000  0.067998  0.017163
charges           0.299008  0.198341  0.067998  1.000000  0.057292
sex_male         -0.020856  0.046371  0.017163  0.057292  1.000000
smoker_yes       -0.025019  0.003750  0.007673  0.787251  0.076185
region_northwest -0.000407 -0.135996  0.024806 -0.039905 -0.011156
region_southeast -0.011642  0.270025 -0.023066  0.073982  0.017117
region_southwest  0.010016 -0.006205  0.021914 -0.043210 -0.004184

                  smoker_yes  region_northwest  region_southeast  \
age                -0.025019         -0.000407         -0.011642
bmi                 0.003750         -0.135996          0.270025
children            0.007673          0.024806         -0.023066
charges             0.787251         -0.039905          0.073982
sex_male            0.076185         -0.011156          0.017117
smoker_yes          1.000000         -0.036945          0.068498
region_northwest   -0.036945          1.000000         -0.346265
region_southeast    0.068498         -0.346265          1.000000
region_southwest   -0.036945         -0.320829         -0.346265

                  region_southwest
age                       0.010016
bmi                      -0.006205
children                  0.021914
charges                  -0.043210
sex_male                 -0.004184
smoker_yes               -0.036945
region_northwest         -0.320829
region_southeast         -0.346265
region_southwest          1.000000

In [265]:
charges_corr = corr[["charges"]]
charges_corr_sorted = charges_corr.sort_values(by="charges", ascending=False)
print(charges_corr_sorted)

                   charges
charges           1.000000
smoker_yes        0.787251
age               0.299008
bmi               0.198341
region_southeast  0.073982
children          0.067998
sex_male          0.057292
region_northwest -0.039905
region_southwest -0.043210

In [266]:
import pandas as pd


url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
for col in list(df.select_dtypes(include=['object']).columns):
    df[col] = df[col].astype('category')
df_dummies = pd.get_dummies(df, drop_first=True)

In [267]:
data = df_dummies.copy()

In [268]:
print(data.head())

   age     bmi  children      charges  sex_male  smoker_yes  region_northwest  \
0   19  27.900         0  16884.92400     False        True             False
1   18  33.770         1   1725.55230      True       False             False
2   28  33.000         3   4449.46200      True       False             False
3   33  22.705         0  21984.47061      True       False              True
4   32  28.880         0   3866.85520      True       False              True

   region_southeast  region_southwest
0             False              True
1              True             False
2              True             False
3             False             False
4             False             False

In [269]:
import pandas as pd


data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

In [270]:
df = pd.DataFrame(data=data)

In [271]:
print(df)

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

In [272]:
df["size"] = df["size"].astype('category')
df["color"] = df["color"].astype('category')
df["gender"] = df["gender"].astype('category')
df["weight"] = df["weight"].astype('float')
df["bought"] = df["bought"].astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      float64
 5   bought  5 non-null      category
dtypes: category(4), float64(2)
memory usage: 744.0 bytes

In [273]:
df_dummies = pd.get_dummies(df, drop_first=True)
print(df_dummies)

   price  weight  size_M  size_XL  color_green  color_red  gender_male  \
0  199.0   500.0   False     True        False       True        False
1   89.0   450.0   False    False         True      False         True
2   99.0   300.0    True    False        False      False         True
3  129.0   380.0   False    False         True      False        False
4   79.0   410.0    True    False        False       True        False

   bought_yes
0        True
1       False
2        True
3       False
4        True

In [274]:
import pandas as pd


products_dict = {
    'product_id': ['001', '004', '007', '010'],
    'name': ['mobile phone', 'laptop', 'mouse', 'tablet'],
    'price': [1490.0, 3400.0, 59.99, 999.00]
}

orders_day_1_dict = {
    'order_id': ['1001', '1002', '1003', '1004'],
    'product_id': ['004', '001', '001', '007'],
    'quantity': [2, 1, 1, 3]
}

orders_day_2_dict = {
    'order_id': ['1005', '1006', '1007'],
    'product_id': ['010', '001', '007'],
    'quantity': [2, 1, 1]
}


products = pd.DataFrame(products_dict)
orders_day_1 = pd.DataFrame(orders_day_1_dict)
orders_day_2 = pd.DataFrame(orders_day_2_dict)

In [275]:
print(products)
print(orders_day_1)
print(orders_day_2)

  product_id          name    price
0        001  mobile phone  1490.00
1        004        laptop  3400.00
2        007         mouse    59.99
3        010        tablet   999.00
  order_id product_id  quantity
0     1001        004         2
1     1002        001         1
2     1003        001         1
3     1004        007         3
  order_id product_id  quantity
0     1005        010         2
1     1006        001         1
2     1007        007         1

In [277]:
orders = pd.concat([orders_day_1, orders_day_2], ignore_index=True)
print(orders)

  order_id product_id  quantity
0     1001        004         2
1     1002        001         1
2     1003        001         1
3     1004        007         3
4     1005        010         2
5     1006        001         1
6     1007        007         1

In [278]:
result = pd.merge(orders, products, on="product_id")
print(result)

  order_id product_id  quantity          name    price
0     1001        004         2        laptop  3400.00
1     1002        001         1  mobile phone  1490.00
2     1003        001         1  mobile phone  1490.00
3     1004        007         3         mouse    59.99
4     1005        010         2        tablet   999.00
5     1006        001         1  mobile phone  1490.00
6     1007        007         1         mouse    59.99

In [279]:
result["total"] = result["quantity"] * result["price"]
print(result)

  order_id product_id  quantity          name    price    total
0     1001        004         2        laptop  3400.00  6800.00
1     1002        001         1  mobile phone  1490.00  1490.00
2     1003        001         1  mobile phone  1490.00  1490.00
3     1004        007         3         mouse    59.99   179.97
4     1005        010         2        tablet   999.00  1998.00
5     1006        001         1  mobile phone  1490.00  1490.00
6     1007        007         1         mouse    59.99    59.99

In [281]:
result.to_csv("result.csv", index=False)
result.to_html("result.html", index=False)
result.to_json("result.json", orient='records', indent=4)

In [282]:
import pandas as pd


employees = pd.DataFrame({
    'emp_id': ['1001', '1002', '1003', '1004'],
    'first_name': ['John', 'Mark', 'Bob', 'Alice'],
    'last_name': ['Smith', 'Cook', 'Cat', 'Lee'],
    'dept_id': ['002', '001', '001', '005']
})

departments = pd.DataFrame({
    'dept_id': ['001', '002', '003', '004'],
    'dept_name': ['IT', 'Sales', 'Marketing', 'Support']
})

In [283]:
result = pd.merge(employees, departments, on="dept_id", how="inner")
print(result)

  emp_id first_name last_name dept_id dept_name
0   1001       John     Smith     002     Sales
1   1002       Mark      Cook     001        IT
2   1003        Bob       Cat     001        IT

In [284]:
result = pd.merge(employees, departments, on="dept_id", how="left")
print(result)

  emp_id first_name last_name dept_id dept_name
0   1001       John     Smith     002     Sales
1   1002       Mark      Cook     001        IT
2   1003        Bob       Cat     001        IT
3   1004      Alice       Lee     005       NaN

In [285]:
result = pd.merge(employees, departments, on="dept_id", how="right")
print(result)

  emp_id first_name last_name dept_id  dept_name
0   1002       Mark      Cook     001         IT
1   1003        Bob       Cat     001         IT
2   1001       John     Smith     002      Sales
3    NaN        NaN       NaN     003  Marketing
4    NaN        NaN       NaN     004    Support

In [286]:
result = pd.merge(employees, departments, on="dept_id", how="outer")
print(result)

  emp_id first_name last_name dept_id  dept_name
0   1002       Mark      Cook     001         IT
1   1003        Bob       Cat     001         IT
2   1001       John     Smith     002      Sales
3    NaN        NaN       NaN     003  Marketing
4    NaN        NaN       NaN     004    Support
5   1004      Alice       Lee     005        NaN

In [287]:
import pandas as pd


employees = pd.DataFrame({
    'emp_id': ['1001', '1002', '1003', '1003', '1004'],
    'first_name': ['John', 'Mark', 'Bob', 'Bob', 'Alice'],
    'last_name': ['Smith', 'Cook', 'Cat', 'Cat', 'Lee'],
    'dept_id': ['002', '001', '001', '001', '005']
})

departments = pd.DataFrame({
    'dept_id': ['001', '002', '003', '004'],
    'dept_name': ['IT', 'Sales', 'Marketing', 'Support']
})

In [288]:
result = pd.merge(employees, departments, on="dept_id", how="inner")
print(result)

  emp_id first_name last_name dept_id dept_name
0   1001       John     Smith     002     Sales
1   1002       Mark      Cook     001        IT
2   1003        Bob       Cat     001        IT
3   1003        Bob       Cat     001        IT

In [289]:
employees_unique = employees.drop_duplicates(subset=['emp_id'])
print(employees_unique)

  emp_id first_name last_name dept_id
0   1001       John     Smith     002
1   1002       Mark      Cook     001
2   1003        Bob       Cat     001
4   1004      Alice       Lee     005

In [290]:
result = pd.merge(employees_unique, departments, on="dept_id", how="inner")
print(result)

  emp_id first_name last_name dept_id dept_name
0   1001       John     Smith     002     Sales
1   1002       Mark      Cook     001        IT
2   1003        Bob       Cat     001        IT

In [291]:
import pandas as pd
import numpy as np


pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 1000)
tips = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')

In [295]:
result = pd.pivot_table(tips, values=['tip','total_bill'], index='day', aggfunc='mean')
print(result)

           tip  total_bill
day
Fri   2.734737   17.151579
Sat   2.993103   20.441379
Sun   3.255132   21.410000
Thur  2.771452   17.682742

In [297]:
result = pd.pivot_table(tips, values=['tip','total_bill'], index=['day', 'sex'], aggfunc=np.mean)
print(result)

                  tip  total_bill
day  sex
Fri  Female  2.781111   14.145556
     Male    2.693000   19.857000
Sat  Female  2.801786   19.680357
     Male    3.083898   20.802542
Sun  Female  3.367222   19.872222
     Male    3.220345   21.887241
Thur Female  2.575625   16.715312
     Male    2.980333   18.714667

/tmp/ipython-input-2077118080.py:1: FutureWarning: The provided callable <function mean at 0x7c4e89325c60> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  result = pd.pivot_table(tips, values=['tip','total_bill'], index=['day', 'sex'], aggfunc=np.mean)

In [298]:
result = pd.pivot_table(tips, values=['tip','total_bill'], index='day', aggfunc="max")
print(result)

        tip  total_bill
day
Fri    4.73       40.17
Sat   10.00       50.81
Sun    6.50       48.17
Thur   6.70       43.11

In [300]:
result = pd.pivot_table(tips, values=['tip','total_bill'], index=['day', 'sex', 'smoker'], aggfunc="mean")
print(result)

                         tip  total_bill
day  sex    smoker
Fri  Female No      3.125000   19.365000
            Yes     2.682857   12.654286
     Male   No      2.500000   17.475000
            Yes     2.741250   20.452500
Sat  Female No      2.724615   19.003846
            Yes     2.868667   20.266667
     Male   No      3.256563   19.929063
            Yes     2.879259   21.837778
Sun  Female No      3.329286   20.824286
            Yes     3.500000   16.540000
     Male   No      3.115349   20.403256
            Yes     3.521333   26.141333
Thur Female No      2.459600   16.014400
            Yes     2.990000   19.218571
     Male   No      2.941500   18.486500
            Yes     3.058000   19.171000

In [301]:
sunday_values = result.loc["Sun"]
print(sunday_values)

                    tip  total_bill
sex    smoker
Female No      3.329286   20.824286
       Yes     3.500000   16.540000
Male   No      3.115349   20.403256
       Yes     3.521333   26.141333

In [303]:
sunday_male_values = result.loc["Sun", "Male"]
print(sunday_male_values)

             tip  total_bill
smoker
No      3.115349   20.403256
Yes     3.521333   26.141333